services:
  podcast-summarizer:
    build: .
    image: podcast-summarizer_podcast-summarizer
    volumes:
      - ./data:/app/data:z
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1